<!DOCTYPE html>
<html>
<body>
  {% extends "layout.html" %}
  {% block content %}
    <div class="raunak">
<h1>All you ever wanted to know about Raunak</h1>
<p>
  <ol>
    <li>Raunak is a genius</li>
    <li>Raunak is very smart</li>
    <li>Rauank has great intelligence</li>
    <li>Raunak es mucho inteligente</li>
    <li>If I had to choose between Einstein or Raunak, I'd pick Raunak</li>
    <li>If I had to pick between Emilio and Raunak, I'd pick...Emilio</li>
  </ol>
</p>
</div>
{% endblock %}
</body>
</html>
